@font-face {
  font-family: 'LFT Etica';
  src: url('fonts/lft_etica_book.eot'); /* IE9 Compat Modes */
  src: url('fonts/lft_etica_book.eot?#iefix') format('embedded-opentype'), 
       url('fonts/lft_etica_book.woff2') format('woff2'), 
       url('fonts/lft_etica_book.woff') format('woff'), 
       url('fonts/lft_etica_book.ttf')  format('truetype'),
       url('fonts/lft_etica_book.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LFT Etica Bold';
  src: url('fonts/lft_etica_bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/lft_etica_bold.eot?#iefix') format('embedded-opentype'), 
       url('fonts/lft_etica_bold.woff2') format('woff2'), 
       url('fonts/lft_etica_bold.woff') format('woff'), 
       url('fonts/lft_etica_bold.ttf')  format('truetype'),
       url('fonts/lft_etica_bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LFT Etica Bold Italic';
  src: url('fonts/lft_etica_bolditalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/lft_etica_bolditalic?#iefix') format('embedded-opentype'), 
       url('fonts/lft_etica_bolditalic.woff2') format('woff2'), 
       url('fonts/lft_etica_bolditalic.woff') format('woff'), 
       url('fonts/lft_etica_bolditalic.ttf')  format('truetype'),
       url('fonts/lft_etica_bolditalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LFT Etica Semibold';
  src: url('fonts/lft_etica_semibold.eot'); /* IE9 Compat Modes */
  src: url('fonts/lft_etica_semibold.eot?#iefix') format('embedded-opentype'), 
       url('fonts/lft_etica_semibold.woff2') format('woff2'), 
       url('fonts/lft_etica_semibold.woff') format('woff'), 
       url('fonts/lft_etica_semibold.ttf')  format('truetype'),
       url('fonts/lft_etica_semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LFT Etica Light';
  src: url('fonts/lft_etica_light.eot'); /* IE9 Compat Modes */
  src: url('fonts/lft_etica_light.eot?#iefix') format('embedded-opentype'), 
       url('fonts/lft_etica_light.woff2') format('woff2'), 
       url('fonts/lft_etica_light.woff') format('woff'), 
       url('fonts/lft_etica_light.ttf')  format('truetype'),
       url('fonts/lft_etica_light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LFT Etica Light Italic';
  src: url('fonts/lft_etica_lightitalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/lft_etica_lightitalic.eot?#iefix') format('embedded-opentype'), 
       url('fonts/lft_etica_lightitalic.woff2') format('woff2'), 
       url('fonts/lft_etica_lightitalic.woff') format('woff'), 
       url('fonts/lft_etica_lightitalic.ttf')  format('truetype'),
       url('fonts/lft_etica_lightitalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}